{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.usebootstrap.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/certificate-form.css' %}" />
    <title>Certificate Input</title>
  </head>
  <body>
    <nav id="mynav" class="navbar fixed-top navbar-expand-lg navbar-light ">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Research Panacea</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href='/feed/'>Home</a>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href='/userprofile/'>Profile</a></li>
                  <li><a class="dropdown-item" href='/collaboration/chat/'>Chat</a></li>
                  <li><a class="dropdown-item" href='/recommendation/'>Recommend Me</a></li>
              </ul>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <li><a class="dropdown-item" href='/conference/upcoming_event'>Academic Events</a></li>
                   <li><a class="dropdown-item" href='/conference/upcoming_conf'>Upcoming Conferences</a></li>
                   <li><hr class="dropdown-divider"/></li>
                   <!-- <li><a class="dropdown-item" to='/'>Something else here</a></li> -->
              </ul>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Research
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href='/researchpapers/'>Research Papers</a></li>
                  <li><a class="dropdown-item" href='/collaboration/viewcollaborations/'>Find Collab Request</a></li>
                  <li><hr class="dropdown-divider"/></li>
                  <!-- <li><a class="dropdown-item" to='/'>Something else here</a></li> -->
              </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href='/conference/journals'>Journals</a>
              </li>
          </ul>
          <form class="d-flex">
            <button type="button" class="btn btn-outline-dark navbar-btn">Log Out</button>
          </form>
          </div>
      </div>
      </nav>
    <section class="get_in_touch" style="margin-top: 90px;">
      <h1 class="title">Certificate</h1>
      <div class="container">
        <form method="POST" action="/addcertification/">
          {% csrf_token %}

          <div class="contact-form row">
            <div class="form-field col-lg-6">
              <input
                id="name"
                class="input-text"
                type="text"
                name="course_name"
              />
              <label for="name" class="label">Course Name</label>
            </div>
            <div class="form-field col-lg-6">
              <input
                id="date"
                class="input-text"
                type="date"
                name="completition_date"
              />
              <script>
                var date = new Date();
                document.getElementById("date-picker").value =
                  date.getFullYear() +
                  "-" +
                  (date.getMonth() + 1) +
                  "-" +
                  String(date.getDate()).padStart(2, "0");
              </script>
              <label for="date" class="label">Completion Date</label>
            </div>

            <div class="form-field col-lg-6">
              <input
                id="venue"
                class="input-text"
                type="text"
                name="organization"
              />
              <label for="venue" class="label">Organisation Name</label>
            </div>
            <div class="form-field col-lg-6">
              <input id="phone" class="input-text" type="text" name="link" />
              <label for="phone" class="label">Certificate URL</label>
            </div>

            <div class="form-field col-lg-12">
              <input
                class="submit-btn"
                type="submit"
                value="submit"
                name="Submit"
              />
            </div>
          </div>
        </form>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
