{% load static %}
{% load index %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/collabdetails.css' %}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Research Panacea</title>
</head>
<body>
    <nav id="mynav" class="navbar fixed-top navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Research Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" to='/'>Home</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" to='/'>Profile</a></li>
                    <li><a class="dropdown-item" to='/chat'>Chat</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Events
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" to='/'>Academic Events</a></li>
                     <li><a class="dropdown-item" to='/upcomingconf'>Upcoming Conferences</a></li>
                     <li><hr class="dropdown-divider"/></li>
                     <li><a class="dropdown-item" to='/'>Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Research
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" to='/research'>Research Papers</a></li>
                    <li><a class="dropdown-item" to='/'>Collaborate</a></li>
                    <li><hr class="dropdown-divider"/></li>
                    <li><a class="dropdown-item" to='/'>Something else here</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex">
              <button type="button" class="btn btn-outline-dark navbar-btn">Log Out</button>
            </form>
            </div>
        </div>
        </nav>
        <div class="container">
            <div class="blog-container">        
            <div class="blog-header">
                <div class="blog-author--no-cover">
                    <h3>{{username}}</h3>
                </div>
            </div>
            <div class="blog-body">
                <div class="blog-title">
                <h1><a href="#">{{collab.title}}</a></h1>
                </div>
                <div class="blog-summary">
                <strong>{{collab.domain}}</strong>
                </div>
                <div class="blog-tags">
                <ul>
                    {% for skill in skills%}
                    <li><a href="#">{{skill}}</a></li> <span>  </span>
                    <p><br /></p>
                    {% endfor %}
                </ul>
                </div>
            </div>
            
            <div class="blog-footer">
                <p></p>
                <ul>
                <li class="published-date">12 days ago</li>
                <!-- <li class="comments"><a href="#"><svg class="icon-bubble"><i class='fa-fa-heart'></i></svg><span class="numero">8</span></a></li> -->
                <li class="shares">
                    
                </li>
                </ul>
                <div class="container">
                    <h3 class="about-rp">About My Research/Project</h3>
                    <div class="blog-summary">
                        <p>{{collab.description}}</p>
                    </div>
                    <h3 class="about-rp">Job Description</h3>
                    <div class="blog-summary">
                            <ol class="number-circle-list">
                                <li class="number-circle-list--list-item">{{collab.state}} {{collab.country}}</li>
                                <li class="number-circle-list--list-item">{{collab.pref_workplace}}</li>
                                <li class="number-circle-list--list-item">{{collab.work_type}}</li>
                            </ol>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class=" btn btn-con" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply</button>
                        <p>
                            <br>
                        </p>
                    <!-- Button trigger modal -->
                    </div>
                    
                    
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Application</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form id="contact-form" role="form" method="POST" action="/collaboration/postproposal/{{collab.id}}" enctype='multipart/form-data' >
                                {% csrf_token %}
                            <div class="modal-body">
                                <div class="row ">
                                    <div class="col-lg-12 mx-auto">
                                        <div class="card mt-2 mx-auto p-4 bg-light">
                                            <div class="card-body bg-light">
                                                <div class="container">
                                
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="CV" class="form-label">CV</label>
                                                    <input class="form-control" type="file" id="CV" name="cv">
                                                    </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"> <label for="form_email">Email *</label> <input id="form_email" type="email" name="email" class="form-control" placeholder="email *" required="required" data-error="Valid email is required."> </div>
                                            </div>                                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"> <label for="form_proposal">Proposal *</label> <textarea id="form_proposal" name="proposal" class="form-control" placeholder="Write your proposal here." rows="4" required="required" data-error="Please, leave us a message."></textarea> </div>                                                               
                                            </div>
                                            
                                        </div>
                                    </div>
                                
                                                </div>
                                            </div>
                                        </div> <!-- /.8 -->
                                    </div> <!-- /.row-->
                                </div>
                            </div>
                            <div class="modal-footer">                            
                            <button type="submit" class="btn btn-primary">Send</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                        </div>
                        </div>
                    </div>
                   </Modal>
                </div>
            </div>
            
            </div>
            </div>
<footer class="footer-07">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo">Research Panachea</a></h2>
                <p class="menu">
                  <a href="#">Home</a>
                  <a href="#">Research Paper</a>
                  <a href="#">Collaborators</a>
                  <a href="#">Profile</a>
                </p>
                <ul class="ftco-footer-social p-0">
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fab fa-twitter"></span></a></li>
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"><i class="fab fa-facebook"></i></span></a></li>
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fab fa-instagram"></span></a></li>
    </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                  Copyright &copy; Research Panachea
              </p>
            </div>
        </div>
    </div>
</footer>   
</body>
<script>

    $(document).ready(function(){
        $(window).scroll(function(){
            if($(window).scrollTop() < 100){
                $(".navbar").css({"background-color":"transparent"});   
            }
            else{
                $(".navbar").css({"background-color":"white"});
            }
    
        })
    })
    </script>
</html>