{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/eventdetails.css' %}">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Research Panacea</title>
</head>
<body>
    <nav id="mynav" class="navbar fixed-top navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Research Panacea</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href='/feed/'>Home</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href='/userprofile/'>Profile</a></li>
                    <li><a class="dropdown-item" href='/collaboration/chat/'>Chat</a></li>
                    <li><a class="dropdown-item" href='/recommendation/'>Recommend Me</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Events
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" href='/conference/upcoming_event'>Academic Events</a></li>
                     <li><a class="dropdown-item" href='/conference/upcoming_conf'>Upcoming Conferences</a></li>
                     <li><hr class="dropdown-divider"/></li>
                     <!-- <li><a class="dropdown-item" to='/'>Something else here</a></li> -->
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Research
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href='/researchpapers/'>Research Papers</a></li>
                    <li><a class="dropdown-item" href='/collaboration/viewcollaborations/'>Find Collab Request</a></li>
                    <li><hr class="dropdown-divider"/></li>
                    <!-- <li><a class="dropdown-item" to='/'>Something else here</a></li> -->
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='/conference/journals'>Journals</a>
                </li>
            </ul>
            <form class="d-flex">
              <button type="button" class="btn btn-outline-dark navbar-btn">Log Out</button>
            </form>
            </div>
        </div>
        </nav>
        <!-- Main Content goes here -->
        <!-- Page Content --> 
                <div class="container event-details">
                     <!-- Portfolio Item Heading --> 
                     {% for details in conf_details %}
                    <h1 class="my-4">{{ details.name }}
                    </h1>
                    <div class="row">
                
                    <div class="col-md-8">
                        <img class="img-fluid" src="https://www.globalacademicinstitute.com/wp-content/uploads/blog-e1482439699591.jpg" alt=""/>
                        <br>
                        <div class="button-link"><a href="{{ details.website }}" style="color:aliceblue;text-decoration: none;">Link</a></div>
            
                    </div>
                
                    <div class="col-md-4">                        
                        <h3 class="my-3">Event Details</h3>
                        <ul>
                        <li>Date: {{ details.timedate }}</li>
                        <!-- <li>Time:</li> -->
                        <li>Venue: {{ details.address }}</li>
                        <!-- <li>Mode:</li> -->
                        </ul>
                        {% if details.info %}
                        <h3 class="my-3">Event Description</h3>
                        <p>{{ details.info }}</p>
                        {% endif %}
                    </div>
                
                    </div>
                             <!-- /.row -->
                        
                            <!-- Related Projects Row --> 
                            <!-- <h3 class="my-4">Related Projects</h3>
                        
                            <div class="row">
                        
                            <div class="col-md-3 col-sm-6 mb-4">
                                <a href="#">
                                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt=""/>
                                    </a>
                            </div>
                        
                            <div class="col-md-3 col-sm-6 mb-4">
                                <a href="#">
                                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt=""/>
                                    </a>
                            </div>
                        
                            <div class="col-md-3 col-sm-6 mb-4">
                                <a href="#">
                                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt=""/>
                                    </a>
                            </div>
                        
                            <div class="col-md-3 col-sm-6 mb-4">
                                <a href="#">
                                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt=""/>
                                    </a>
                            </div>
                        
                            </div>
                          /.row --> 
                        {% endfor %}
                        </div> 
                         <!-- /.container --> 
                         <br>
<footer class="footer-07">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo">Research Panachea</a></h2>
                <p class="menu">
                  <a href="#">Home</a>
                  <a href="#">Research Paper</a>
                  <a href="#">Collaborators</a>
                  <a href="#">Profile</a>
                </p>
                <ul class="ftco-footer-social p-0">
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fab fa-twitter"></span></a></li>
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"><i class="fab fa-facebook"></i></span></a></li>
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fab fa-instagram"></span></a></li>
    </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                  Copyright &copy; Research Panachea
              </p>
            </div>
        </div>
    </div>
</footer>   
</body>
<script>

    $(document).ready(function(){
        $(window).scroll(function(){
            if($(window).scrollTop() < 100){
                $(".navbar").css({"background-color":"transparent"});   
            }
            else{
                $(".navbar").css({"background-color":"white"});
            }
    
        })
    })
    </script>
</html>