{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content=" IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.usebootstrap.com/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">


    <title>Profile Page</title>
    <script src="https://kit.fontawesome.com/bd4af1c75a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <section style="background-color: #eee;">
        <div class="container py-5">
          <!-- <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
            </div>
          </div> -->
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">Username : {{user.username}}</h5>
                  <p class="text-muted mb-1">Profession : {{user.profession}}</p>
                  <p class="text-muted mb-4">Location : {{user.city}}  {{user.state}}, {{user.country}}</p>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                  </div>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                  </ul>
                </div>
                
                
              </div>
              <p>
                <br>
              </p>
              <h5>Skills</h5>
              <div class="card mb-4 mb-lg-0">
                
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    {% for s in uskills %}
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"><a href="" style="color:#333333" text-decoration >{{s}}</a></p>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                
                
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.fname}} {{user.lname}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">About me</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.description}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Previous collaborators</p>
                    </div>
                    <div class="col-sm-9">
                        <a href="#!">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="25">
                          </a>
                          <a href="#!">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="25">
                          </a>
                          <a href="#!">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="25">
                          </a>
                          <a href="#!">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar" class="img-fluid rounded-circle me-3" width="25">
                          </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">1.</span>
                        Work Experience
                        
                      </p>
                      {% for w in workexps %}
                      <p class="mb-1" style="font-size: .98rem;">{{w.position}}
                        <span class="text-muted mb-0" >, {{w.organization}}</span>
                      </p>
                      <p>{{w.employment_type}}</p>
                      <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 2 months </div>
                      </div>
                      {% endfor %}
                      <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup <span class="text-muted mb-0" >specifics</span></p>
                      <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> Duration</div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">One Page <span class="text-muted mb-0" >specifics</span></p>
                      <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> Duration</div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template <span class="text-muted mb-0" >specifics</span></p>
                      <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> Duration</div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">2.</span>Education </p>  
                       {% for e in educations %} 
                      <p class="mb-1" style="font-size: .77rem;">{{e.institution}}</p>
                      <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">{{e.degree}}</p>
                      <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">Year Of Graduation : 2023</p>
                      <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="mt-4 mb-1" style="font-size: .77rem;">{{e.grade}}</p>
                      <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      {% endfor %}
                      
                    </div>
                  </div>
                </div>
            </div>
              <div class="row">
                
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col " style="width:614px;">
                        <h4>Certifications
                        </h4>
                        {% if certifications %}
                        {% for c in certifications %}
                        <div class="card mb-5" style="border-radius: 15px; padding:0px">
                          <div class="card-body p-4">
                            <h5 class="mb-3">{{c.organization}}</h5>
                            <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span> Completed <strong> {{c.course_name}}</strong> on 11 April , 2021</p>
                            <hr class="my-4">
                            <div class="d-flex justify-content-start align-items-center">
                              <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span class="text-muted small"><a href="" style="color:#333333"> View Certificate </a></span></p>
                              <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span class="text-muted small"><a href="https://www.coursera.org/learn/machine-learning?utm_source=gg&utm_medium=sem&utm_campaign=07-StanfordML-IN&utm_content=B2C&campaignid=1950458127&adgroupid=71501032500&device=c&keyword=coursera%20machine%20learning&matchtype=p&network=g&devicemodel=&adpostion=&creativeid=415449761695&hide_mobile_promo&gclid=CjwKCAiAprGRBhBgEiwANJEY7NEFSiJ5h7op67Nt_XC644_Q0xSU2a4HKzg_5jQ_-zjOgRH1VORUqxoCSjEQAvD_BwE" style="color:#333333"> Course Link </a></span></p>
                                
                              
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h6 class="text-muted">No Certifications to Show</h6>
                        {% endif %}
                      </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col " style="width:614px;">
                          <h4>Research Papers
                          </h4>
                          {% if papers %}
                          {% for p in papers %}
                          <div class="card mb-5" style="border-radius: 15px; padding:0px">
                            
                            <div class="card-body p-4">
                              <h5 class="mb-3">{{p.title}}</h5>
                              <p>{{p.abstract}}</p>
                              <p class="small mb-0"><i class="fas fa-star fa-lg text-warning"></i> <span class="mx-2">|</span> Public <span class="mx-2">|</span> Published along with <strong>Collaborater name</strong> on 11 April , 2021</p>
                              <hr class="my-4">
                              <div class="d-flex justify-content-start align-items-center">
                                
                                <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span class="text-muted small"><a href="/viewresearchpaper/{{p.id}}" style="color:#333333"> View Paper </a></span></p>
                                <span class="ms-3 me-4">|</span></p>
                                <a href="#!">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="35">
                                </a>
                                <a href="#!">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="35">
                                </a>
                                <a href="#!">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="35">
                                </a>
                                <a href="#!">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar" class="img-fluid rounded-circle me-3" width="35">
                                </a>
                                  
                                
                                
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          {% else %}
                          <h6 class="text-muted">No Research Papers to show</h6>
                          {% endif %}
                        </div>
                      </div>
                    
                  
                </div>
                
                        
            </div>
            </div>
          </div>
        </div>
  </body>
</html>