{% load static %} {% load index %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Required meta tags always come first -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/rpdetail.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>Research Panacea</title>
  </head>
  <body style="background-image: url('../static/img/light-bg.png')">
    <nav id="mynav" class="navbar fixed-top navbar-expand-lg navbar-light ">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Research Panacea</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href='/feed/'>Home</a>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href='/userprofile/'>Profile</a></li>
                  <li><a class="dropdown-item" href='/collaboration/chat/'>Chat</a></li>
                  <li><a class="dropdown-item" href='/recommendation/'>Recommend Me</a></li>
              </ul>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <li><a class="dropdown-item" href='/conference/upcoming_event'>Academic Events</a></li>
                   <li><a class="dropdown-item" href='/conference/upcoming_conf'>Upcoming Conferences</a></li>
                   <li><hr class="dropdown-divider"/></li>
                   <!-- <li><a class="dropdown-item" to='/'>Something else here</a></li> -->
              </ul>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Research
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href='/researchpapers/'>Research Papers</a></li>
                  <li><a class="dropdown-item" href='/collaboration/viewcollaborations/'>Find Collab Request</a></li>
                  <li><hr class="dropdown-divider"/></li>
                  <!-- <li><a class="dropdown-item" to='/'>Something else here</a></li> -->
              </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href='/conference/journals'>Journals</a>
              </li>
          </ul>
          <form class="d-flex">
            <button type="button" class="btn btn-outline-dark navbar-btn">Log Out</button>
          </form>
          </div>
      </div>
      </nav>
    <!-- Main Content goes here -->
    <div class="blog-single" style="margin-top: 90px">
      <div class="container">
        <div class="row align-items-start">
          <div class="col-lg-8 m-15px-tb">
            <article class="article">
              <!-- <div class="article-img">
                <img
                  src="{% static 'img/research-paper-default.jpeg' %}"
                  style="max-width: 100% !important"
                />
              </div> -->
              <div class="article-title">
                <h2>{{paper.title}}</h2>
                <div class="media d-flex">
                  {% for pc in p_collabs %}
                  <div class="avatar">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar1.png"
                      title=""
                      alt=""
                      style="max-width: 100%"
                    />
                  </div>
                  <div class="media-body" style="margin-right: 10px">
                    <label>{{pc}}</label>
                    <span>26 FEB 2022</span>
                  </div>
                  {% endfor %}
                  <!-- <div class="avatar">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar1.png"
                      title=""
                      alt=""
                      style="max-width: 100%"
                    />
                  </div>
                  <div class="media-body">
                    <label>{{p_username}}</label>
                    <span>26 FEB 2022</span>
                  </div> -->
                </div>
              </div>
              <div class="article-content">
                <p>{{paper.abstract}}</p>

                <!-- <h4>What are my payment options?</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <blockquote>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.
                  </p>
                  <p class="blockquote-footer">
                    Someone famous in
                    <cite title="Source Title">Dick Grayson</cite>
                  </p>
                </blockquote>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p> -->
              </div>
              <div class="nav tag-cloud">
                {% for key in p_keywords %}
                <a href="#">{{key}}</a>
                {% endfor %}
              </div>
            </article>
            <div class="contact-form article-comment">
              <h4>Discussion Forum</h4>
              <form id="contact-form" method="POST">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea
                        name="message"
                        id="message"
                        placeholder="Your message *"
                        rows="4"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="send">
                      <button class="btn btn-light">
                        <span>Submit</span> <i class="arrow"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="container mt-5">
                <div class="d-flex justify-content-center row">
                  <div class="col-md-8">
                    <div
                      class="d-flex flex-column comment-section"
                      id="myGroup"
                    >
                      <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info">
                          <img
                            class="rounded-circle"
                            src="https://i.imgur.com/RpzrMR2.jpg"
                            width="40"
                          />
                          <div
                            class="d-flex flex-column justify-content-start ml-2"
                          >
                            <span class="d-block font-weight-bold name"></span>
                              Marry Andrews</span
                            ><span class="date text-black-50"
                              >Shared publicly - Mar 2022</span
                            >
                          </div>
                        </div>
                        <div class="mt-2">
                          <p class="comment-text">
                           It is a great read and wonderful paper.I hope this research further goes to production
                          </p>
                        </div>
                      </div>
                      <div class="bg-white p-2">
                        <div class="d-flex flex-row fs-12">
                          <div
                            class="like p-2 cursor action-collapse"
                            data-toggle="collapse"
                            aria-expanded="true"
                            aria-controls="collapse-1"
                            href="#collapse-1"
                          >
                            <button
                              class="btn btn-light"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseExample"
                              aria-expanded="false"
                              aria-controls="collapseExample"
                            >
                              <i class="fa fa-commenting-o"></i>
                              <span class="ml-1">Discussions</span>
                            </button>
                          </div>
                          <div
                            class="like p-2 cursor action-collapse"
                            data-toggle="collapse"
                            aria-expanded="true"
                            aria-controls="collapse-1"
                            href="#collapse-1"
                          >
                            <button
                              class="btn btn-light"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseExample2"
                              aria-expanded="false"
                              aria-controls="collapseExample"
                            >
                              <i class="fa fa-share"></i>
                              <span class="ml-1">Replies</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          <div class="d-flex flex-row align-items-start">
                            <img
                              class="rounded-circle"
                              src="https://i.imgur.com/RpzrMR2.jpg"
                              width="40"
                            /><textarea
                              class="form-control ml-1 shadow-none textarea"
                            ></textarea>
                          </div>
                          <div class="mt-2 text-right">
                            <button
                              class="btn btn-primary btn-sm shadow-none"
                              type="button"
                            >
                              Post comment
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                          <div class="bg-white p-2">
                            <div class="d-flex flex-row user-info">
                              <img
                                class="rounded-circle"
                                src="https://i.imgur.com/RpzrMR2.jpg"
                                width="40"
                              />
                              <div
                                class="d-flex flex-column justify-content-start ml-2"
                              >
                                <span class="d-block font-weight-bold name"
                                  >Rajeev064</span
                                ><span class="date text-black-50"
                                  >Shared publicly - Mar 2022</span
                                >
                              </div>
                            </div>
                            <div class="mt-2">
                              <p class="comment-text">
                                Thank You.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 m-15px-tb blog-aside">
            <!-- Author -->
            <!-- <div class="widget widget-author">
                            <div class="widget-title">
                                <h3>Author</h3>
                            </div>
                            <div class="widget-body">
                                <div class="media align-items-center">
                                    <div class="avatar">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h6>Hello, I'm<br> Rachel Roth</h6>
                                    </div>
                                </div>
                                <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores</p>
                            </div>
                        </div> -->
            <!-- End Author -->
            <!-- Trending Post -->
            <!-- <div class="widget widget-post">
                            <div class="widget-title">
                                <h3>Trending Now</h3>
                            </div>
                            <div class="widget-body">
    
                            </div>
                        </div> -->
            <!-- End Trending Post -->
            <!-- Latest Post -->
            <div class="widget widget-latest-post">
              <div class="widget-title">
                <h3>Similar Research Papers</h3>
              </div>
              <div class="widget-body">
                {% for sim in sim_papers %}
                <div class="latest-post-aside media">
                  <div class="lpa-left media-body">
                    <div class="lpa-title">
                      <h5>
                        <a href="/viewresearchpaper/{{sim.id}}">{{sim.title}}</a>
                      </h5>
                    </div>
                    <div class="lpa-meta">
                      
                      <a class="date" href="#"> 26 FEB 2022 </a>
                    </div>
                  </div>
                  <div class="lpa-right">
                    <a href="#">
                      <img
                        src="{% static 'img/research-paper-default.jpeg' %}"
                        title=""
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- End Latest Post -->
            <!-- widget Tags -->
            <div class="widget widget-tags">
              <div class="widget-title">
                <h3>Paper Details</h3>
              </div>
              <div class="widget-body">
                <div class="nav tag-cloud">
                  {% if paper.journal_name %}
                  <p>Journal : {{paper.journal_name}}</p>
                  <br />
                  {% elif paper.conference_name%}
                  <p>Conference :{{paper.conference_name}}</p>
                  <br />
                  {% endif %}
                  <p>Domain : {{paper.domain}}</p>
                  <br />
                  {% if paper.doi %}
                  <p>DOI : {{paper.doi}}</p>
                  <br />
                  {% endif %}
                  <hr>
                  {% if paper.url %}
                  <br/>
                  
                  
                </div>
                <p>
                  <form method="GET" action="{{paper.url}}">
                  <button class="btn btn-primary" type="submit" value="Visit">Visit Link</button>
                  </form>
                </p>
                {% endif %}
              </div>
            </div>
            <!-- End widget Tags -->
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-07">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <h2 class="footer-heading">
              <a href="#" class="logo">Research Panachea</a>
            </h2>
            <p class="menu">
              <a href="#">Home</a>
              <a href="#">Research Paper</a>
              <a href="#">Collaborators</a>
              <a href="#">Profile</a>
            </p>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Twitter"
                  ><span class="fab fa-twitter"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Facebook"
                  ><span class="ion-logo-facebook"
                    ><i class="fab fa-facebook"></i></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Instagram"
                  ><span class="fab fa-instagram"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <p class="copyright">Copyright &copy; Research Panachea</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(window).scrollTop() < 100) {
          $(".navbar").css({ "background-color": "transparent" });
        } else {
          $(".navbar").css({ "background-color": "white" });
        }
      });
    });
  </script>
</html>
