{% load static %}
{% load index %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content=" IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.usebootstrap.com/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">


    <title>Profile Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav id="mynav" class="navbar fixed-top navbar-expand-lg navbar-light ">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Research Panacea</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href='/feed/'>Home</a>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href='/userprofile/'>Profile</a></li>
                  <li><a class="dropdown-item" href='/collaboration/chat/'>Chat</a></li>
                  <li><a class="dropdown-item" href='/recommendation/'>Recommend Me</a></li>
              </ul>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <li><a class="dropdown-item" href='/conference/upcoming_event'>Academic Events</a></li>
                   <li><a class="dropdown-item" href='/conference/upcoming_conf'>Upcoming Conferences</a></li>
                   <li><hr class="dropdown-divider"/></li>
                   <!-- <li><a class="dropdown-item" to='/'>Something else here</a></li> -->
              </ul>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Research
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href='/researchpapers/'>Research Papers</a></li>
                  <li><a class="dropdown-item" href='/collaboration/viewcollaborations/'>Find Collab Request</a></li>
                  <li><hr class="dropdown-divider"/></li>
                  <!-- <li><a class="dropdown-item" to='/'>Something else here</a></li> -->
              </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href='/conference/journals'>Journals</a>
              </li>
          </ul>
          <form class="d-flex">
            <button type="button" class="btn btn-outline-dark navbar-btn">Log Out</button>
          </form>
          </div>
      </div>
      </nav>
    
    <section>
        <div class="container py-5"  style="margin-top: 90px;">
          <!-- <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
            </div>
          </div> -->
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;"> -->
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">Username : {{user.username}}</h5>
                  <p class="text-muted mb-1">Profession : {{user.profession}}</p>
                  <p class="text-muted mb-4">Location : {{user.city}}  {{user.state}}, {{user.country}}</p>
                  <div class="d-flex justify-content-center mb-2">
                  <form method="GET">
                    <button type="submit" formaction="/editprofile/" class="btn btn-primary">Edit Profile</button>
                    <button type="submit" formaction="/collaboration/chat/" class="btn btn-outline-primary ms-1">Message</button>
                  </form>
                  </div>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0"><a href="" style="color:#333333"> https://link.com</a></p>
                    </li>
                  </ul>
                </div>
                
                
              </div>
              <p>
                <br>
              </p>
              <h5>Skills</h5>
              <div class="card mb-4 mb-lg-0">
                
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    {% for s in user_skills %}
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"><a href="" style="color:#333333" text-decoration >{{s}}</a></p>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                
                
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">About me</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.description}}</p>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">1.</span>
                        Work Experience
                        <form method="GET" action="/addworkexp/">
                        <button type="submit" class="btn btn-outline-dark btn-sm btn-floating" style="margin-left:150px;">
                        <i class="fas fa-plus"></i>
                        </button>
                        </form>
                      </p>
                      {% for w in workexps %}
                      <p class="mb-1" style="font-size: .98rem;">{{w.position}}
                        <span class="text-muted mb-0" >, {{w.organization}}</span>
                      </p>
                      <p>{{w.employment_type}}</p>
                      <!-- <div class="progress rounded" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 2 months </div>
                      </div> -->
                      {% if w.description %}
                      <p>About : {{w.description}}</p>
                      {% endif %}
                      <hr>
                      {% endfor %}
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">2.</span>Education
                        <form method="GET" action="/addeducation/">
                        <button type="submit" class="btn btn-outline-dark btn-sm btn-floating" style="margin-left:190px;">
                        <i class="fas fa-plus"></i> </button>
                      </form>
                    </p>  
                    {% for e in educations %}
                    <p class="mb-1" style="font-size: .98rem;">{{e.institution}}
                      <span class="text-muted mb-0" >, {{e.degree}}</span>
                    </p>
                    <p>{{e.grade}}</p>
                    <p><span class="text-muted mb-0" >, {{e.start_date}} - {{e.end_date}}</span></p>
                    <!-- <div class="progress rounded" style="height: 25px;">
                      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 2 months </div>
                    </div> -->
                    {% if e.description %}
                    <p>About : {{e.description}}</p>
                    {% endif %}
                    <hr>
                    {% endfor %}
                      
                    </div>
                  </div>
                </div>
            </div>
              <div class="row">
                
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col " style="width:614px;">
                        <h4>Certifications
                        </h4>
                        {% if certifications %}
                        {% for c in certifications %}
                        <div class="card mb-5" style="border-radius: 15px; padding:0px">
                          <div class="card-body p-4">
                            <h5 class="mb-3">{{c.organization}}</h5>
                            <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span> Completed <strong> {{c.course_name}}</strong> on 11 April , 2021</p>
                            <hr class="my-4">
                            <div class="d-flex justify-content-start align-items-center">
                              
                              <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span class="text-muted small"><a href="{{c.link}}" style="color:#333333"> Certificate Link </a></span></p>
                                
                              <form method="GET" action="/addcertification/">
                              <button type="submit" class="btn btn-outline-dark btn-sm btn-floating" style="margin-left: 350px;">
                                <i class="fas fa-plus"></i>
                              </button>
                            </form>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h6 class="text-muted">No Certifications to Show</h6>
                        {% endif %}
                      </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col " style="width:614px;">
                          <h4>Research Papers
                          </h4>
                          {% if papers %}
                          {% for p in papers %}
                          <div class="card mb-5" style="border-radius: 15px; padding:0px">
                            
                            <div class="card-body p-4">
                              <h5 class="mb-3">{{p.title}}</h5>
                              <p>{{p.abstract}}</p>
                              <p class="small mb-0"><i class="fas fa-star fa-lg text-warning"></i> <span class="mx-2">|</span> Public <span class="mx-2">|</span> Published along with
                                {% for pc in p_collabs|index:forloop.counter0 %} 
                                <strong>{{pc}},</strong>
                                {% endfor %} 
                                on 11 April , 2021</p>
                              <hr class="my-4">
                              <div class="d-flex justify-content-start align-items-center">
                                
                                <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span class="text-muted small"><a href="/viewresearchpaper/{{p.id}}" style="color:#333333"> View Paper </a></span></p>
                                <span class="ms-3 me-4">|</span></p>
                                <a href="#!">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="35">
                                </a>
                                <a href="#!">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="35">
                                </a>
                                <a href="#!">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar" class="img-fluid rounded-circle me-1" width="35">
                                </a>
                                <a href="#!">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar" class="img-fluid rounded-circle me-3" width="35">
                                </a>
                                  
                                
                                <button type="button" class="btn btn-outline-dark btn-sm btn-floating" style=" margin-left: 290px;">
                                  <i class="fas fa-plus"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          {% else %}
                          <h6 class="text-muted">No Research Papers to show</h6>
                          {% endif %}
                        </div>
                      </div>
                    
                  
                </div>
                
                        
            </div>
            </div>
          </div>
        </div>
        <footer class="footer-07">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-12 text-center">
                      <h2 class="footer-heading"><a href="#" class="logo">Research Panachea</a></h2>
                      <p class="menu">
                        <a href="#">Home</a>
                        <a href="#">Research Paper</a>
                        <a href="#">Collaborators</a>
                        <a href="#">Profile</a>
                      </p>
                      <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fab fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"><i class="fab fa-facebook"></i></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fab fa-instagram"></span></a></li>
          </ul>
                  </div>
              </div>
              <div class="row mt-5">
                  <div class="col-md-12 text-center">
                      <p class="copyright">
                        Copyright &copy; Research Panachea
                    </p>
                  </div>
              </div>
          </div>
      </footer>   
  </body>
  <script>

    $(document).ready(function(){
        $(window).scroll(function(){
            if($(window).scrollTop() < 100){
                $(".navbar").css({"background-color":"transparent"});   
            }
            else{
                $(".navbar").css({"background-color":"white"});
            }
    
        })
    })
    </script>
</html>